style "combobox"		= "default"
{
	xthickness = 0
     ythickness = 0
     
     engine "pixmap" {
    
          image{
               function			= BOX
               recolorable		= TRUE
               state			= NORMAL
               file				= "combobox/transparent.png"
               border			= { 5, 5, 5, 5}
               stretch			= TRUE
          }   
          image{
               function			= BOX
               recolorable		= TRUE
               state			= PRELIGHT
               file				= "combobox/transparent.png"
               border			= { 5, 5, 5, 5}
               stretch			= TRUE
          }
          image{
               function			= BOX
               recolorable		= TRUE
               state			= ACTIVE
               file				= "combobox/transparent.png"
               border			= { 5, 5, 5, 5}
               stretch			= TRUE
          }
          image{
               function			= BOX
               recolorable		= TRUE
               state			= INSENSITIVE
               file				= "combobox/transparent.png"
               border			= { 5, 5, 5, 5}
               stretch			= TRUE
          }
          image{
               function			= ARROW
               state			= NORMAL
               overlay_file		= "combobox/combo-arrow.png"
               overlay_stretch	= FALSE
          }
          image{
               function			= ARROW
               state			= PRELIGHT
               overlay_file		= "combobox/combo-arrow.png"
               overlay_stretch	= FALSE
          }
          image{
               function			= ARROW
               state			= ACTIVE
               overlay_file		= "combobox/combo-arrow.png"
               overlay_stretch	= FALSE
          }
          image{
               function			= ARROW
               state			= INSENSITIVE
               overlay_file		= "combobox/combo-arrow.png"
               overlay_stretch	= FALSE
          }
          image{
               function			= VLINE
               recolorable		= TRUE
               file				= "combobox/transparent.png"
               border			= { 0, 0, 0, 0}
               stretch			= TRUE
          }
	  image {
		function			= SHADOW
		shadow			= IN
		state			= NORMAL
     	file		     	= "transparent.png"
     	border			= { 3,3,3,3 }
		stretch			= TRUE
    	}
    }
}

style "combobox-entry"		= "default"
{
     xthickness = 0
     ythickness = 0
     
     engine "pixmap" {
    
          image{
               function			= BOX
               recolorable		= TRUE
               state			= NORMAL
               file				= "combobox/transparent.png"
               border			= { 5, 5, 5, 5}
               stretch			= TRUE
          }   
          image{
               function			= BOX
               recolorable		= TRUE
               state			= PRELIGHT
               file				= "combobox/transparent.png"
               border			= { 5, 5, 5, 5}
               stretch			= TRUE
          }
          image{
               function			= BOX
               recolorable		= TRUE
               state			= ACTIVE
               file				= "combobox/transparent.png"
               border			= { 5, 5, 5, 5}
               stretch			= TRUE
          }
          image{
               function			= BOX
               recolorable		= TRUE
               state			= INSENSITIVE
               file				= "combobox/transparent.png"
               border			= { 5, 5, 5, 5}
               stretch			= TRUE
          }
          image{
               function			= ARROW
               state			= NORMAL
               overlay_file		= "combobox/combo-arrow.png"
               overlay_stretch	= FALSE
          }
          image{
               function			= ARROW
               state			= PRELIGHT
               overlay_file		= "combobox/combo-arrow.png"
               overlay_stretch	= FALSE
          }
          image{
               function			= ARROW
               state			= ACTIVE
               overlay_file		= "combobox/combo-arrow.png"
               overlay_stretch	= FALSE
          }
          image{
               function			= ARROW
               state			= INSENSITIVE
               overlay_file		= "combobox/combo-arrow.png"
               overlay_stretch	= FALSE
          }
          image{
               function			= VLINE
               recolorable		= TRUE
               file				= "combobox/transparent.png"
               border			= { 0, 0, 0, 0}
               stretch			= TRUE
          }
	  image {
		function			= SHADOW
		shadow			= IN
		state			= NORMAL
     	file		     	= "shadows/text-entry.png"
     	border			= { 3,3,3,3 }
		stretch			= TRUE
    	}
    }
}
class "GTKCombo" 					style "combobox-entry"
widget_class "*Combo.*" 			style "combobox-entry"
class "GTKComboBox" 				style "combobox"
widget_class "*ComboBox.*" 		style "combobox"
class "GTKComboBoxEntry" 			style "combobox-entry"
widget_class "*ComboBoxEntry.*" 		style "combobox-entry"
